{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">

    <div class="card shadow-sm mb-5 custom-mission-card">
        <div class="card-body p-4">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-center mb-4 display-5 fw-bold" style="color: #2f3f4e;">About Fleetly</h2>
                    <br>
                    <p class="lead text-muted" style="font-size: 1.4rem;">
                        Fleetly is a modern transportation booking platform for seamless travel planning. Easily book cars, buses, or trains, compare prices, and select seats in clicks. <br> Our mission is to connect travelers with reliable, affordable options across Kenya, offering a hassle-free experience. Thank you for choosing Fleetly!
                    </p>
                </div>
                <div class="col-md-6">
                    <h2 class="text-center mb-4 display-5 fw-bold" style="color: #2f3f4e;">Explore Kenya</h2>
                    <div id="kenyaCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#kenyaCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#kenyaCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#kenyaCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row justify-content-center mx-auto">
                                    <div class="col-md-8 mb-4">
                                        <div class="card shadow-sm h-100">
                                            <img src="{{ url_for('static', filename='images/masaimara.jpg') }}" class="d-block w-100 card-img-top" alt="Maasai Mara">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row justify-content-center mx-auto">
                                    <div class="col-md-8 mb-4">
                                        <div class="card shadow-sm h-100">
                                            <img src="{{ url_for('static', filename='images/mountkenya.jpg') }}" class="d-block w-100 card-img-top" alt="Mount Kenya">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row justify-content-center mx-auto">
                                    <div class="col-md-8 mb-4">
                                        <div class="card shadow-sm h-100">
                                            <img src="{{ url_for('static', filename='images/diani.jpg') }}" class="d-block w-100 card-img-top" alt="Diani Beach">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#kenyaCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#kenyaCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}